body {
    color: blue;
    background-color: beige;
}
/* Basic stlyes */
html {
    font-size: 20px;
}


body {
    min-width: 400px;
}


/* Phone models section */
.phone-models-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.phone-model {
    margin: 1rem 2rem;
}
/* tagline section */
.tagline-container {
    text-align: center;
    margin:  6rem auto;
    /* features */
.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.feature-box {
    border: 2px solid black;
    padding: 2rem;
    margin: 2rem;
    width: calc(90% - 10rem);
    text-align: center;
    box-sizing: content-box;
    min-width: 200px;
    border-radius: 35px;
}


.feature-box:hover {
    background-color: lightgrey;
}


.feature-image {
    width: 80%;
    max-width: 200px;
}


@media screen and (min-width: 768px) {
    .feature-box {
        width: calc(50% - 10rem);
    }
}
}